#header-custom {
	width: 100%;
	height: 51px;
	position: fixed;
	z-index: 11;
	border-bottom:1px solid #e5e5e5;
	background: #ffffff;
}

#header-custom > div{
	display: inline-block;
}

#sign-up {
	padding:15px 120px 15px 0;
}

	#sign-up a{
		font-size: 16px;
		font-weight: 600;
		color: #333;
	}

	#sign-up a:hover {
		text-decoration: underline;
	}

#brand {
	position: relative;
	padding: 3px 0 0 120px;
	display: inline-block;
}
	#brand > div {
		position: absolute;
		font-size: 22px;
		width: 110px;
		top: 10px;
		left: 170px;
	}

	#logo {
		height: 45px;
		width: 45px;
	}

	#info {
		color: #2e7ab6;
	}

	#bucket {
		color: #a5a6aa;
		margin-left: -7px;
	}

#sign-in-card {
	border:1px solid #e5e5e5;
	border-radius: 3px;
}

#sign-in-card > .card-header {
	border-bottom:2px solid #4a8bee;
}

.custom-card {
	box-shadow: 0 2px 5px #e5e5e5;
}

#footer {
	padding-left:0px !important;
	padding-top:15px !important;
	border-top:1px solid #e5e5e5;
	height: 65px !important;
}

.footer-link {
	color:#3777b0 !important;
}

/**************** profile ****************/

.user-header {
	margin-bottom: 25px;
    position: relative;
}

.user-header > h2 {
	font-size: 20px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase
}

.user-header > h2 > small {
    display: block;
    text-transform: none;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #9E9E9E;
    line-height: 140%;
}

/**************** generic classes ****************/

.inline-block {
	display: inline-block!important;
}

.m-t-38 {
	margin-top: 38px;
}

.m-r-40 {
	margin-right: 40px;
}

/**************** font weight ****************/

.fw-100 {
	font-weight: 100!important;
}

.fw-200 {
	font-weight: 200!important;
}

.fw-300 {
	font-weight: 300!important;
}

.fw-400 {
	font-weight: 400!important;
}

.fw-500 {
	font-weight: 500!important;
}

.fw-600 {
	font-weight: 600!important;
}