@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul>
    @foreach (var item in ViewBag.ListOfCourses) {
        <li>@item.Title</li>
    }
</ul>

    