@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div id="forgot-password-page" class="content">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <h1>
                GitLab Community Edition
            </h1>
            <h3>
                Open source software to collaborate on code
            </h3>
            <p style="font-size:18px;">
                Manage Git repositories with fine-grained access controls that keep your code secure. Perform code reviews and enhance collaboration with merge requests. Each project can also have an issue tracker and a wiki.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="card" id="sign-in-card">
                <div class="card-header">
                    <h2 class="text-center f-500">Reset Password</h2>
                </div>

                <div class="card-body card-padding">
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="p-t-25" novalidate>
                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-email"></i>
                            </span>
                            <div class="fg-line">
                                <input asp-for="Email" type="email" class="form-control input-sm" id="exampleInputEmail1">
                                <label  asp-for="Email" class="fg-label">Email</label>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block m-t-10 waves-effect">
                            Reset password
                        </button>
                    </form>
                </div>
            </div>
            <div>
                Already have login and password?
                <a href="">
                    Sign in
                </a>
            </div>
        </div>
    </div>
</div>
