@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div id="login-page" class="content">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <h1>
                GitLab Community Edition
            </h1>
            <h3>
                Open source software to collaborate on code
            </h3>
            <p style="font-size:18px;">
                Manage Git repositories with fine-grained access controls that keep your code secure. Perform code reviews and enhance collaboration with merge requests. Each project can also have an issue tracker and a wiki.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="card" id="sign-in-card">
                <div class="card-header">
                    <h2 class="text-center f-500">Sign In</h2>
                </div>

                <div class="card-body card-padding">
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" class="p-t-25" novalidate>
                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-email"></i>
                            </span>
                            <div class="fg-line">
                                <input asp-for="Email" type="email" class="form-control input-sm" id="Email">
                                <label asp-for="Email" class="fg-label">Email</label>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-key"></i>
                            </span>
                            <div class="fg-line">
                                <input asp-for="Password" type="password" class="form-control input-sm" id="Password">
                                <label asp-for="Password" class="fg-label">Password</label>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                <i class="input-helper"></i>
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block bgm-green m-t-10 waves-effect">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
            <div>
                <a href="">
                    Forgot your password?
                </a>
            </div>
        </div>
    </div>
</div>
