@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div id="register-page" class="content">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <h1>
                GitLab Community Edition
            </h1>
            <h3>
                Open source software to collaborate on code
            </h3>
            <p style="font-size:18px;">
                Manage Git repositories with fine-grained access controls that keep your code secure. Perform code reviews and enhance collaboration with merge requests. Each project can also have an issue tracker and a wiki.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="card" id="sign-in-card">
                <div class="card-header">
                    <h2 class="text-center f-500">Register</h2>
                </div>

                <div class="card-body card-padding">
                    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" class="p-t-25" novalidate>
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line">
                                <input asp-for="FirstName" type="text" class="form-control input-sm" id="FirstName">
                                <label asp-for="FirstName" class="fg-label">First Name</label>
                            </div>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account"></i>
                            </span>
                            <div class="fg-line">
                                <input asp-for="LastName" type="text" class="form-control input-sm" id="LastName">
                                <label asp-for="LastName" class="fg-label">Last Name</label>
                            </div>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-email"></i>
                            </span>
                            <div class="fg-line">
                                <input asp-for="Email" type="email" class="form-control input-sm" id="Email">
                                <label asp-for="Email" class="fg-label">Email</label>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="fg-line">
                                <div class="col-xs-3">
                                    <label asp-for="Email" class="">Date of Birth</label>
                                    <input asp-for="DateOfBirth" type="date" class="" id="DateOfBirth" />
                                </div>
                            </div>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-key"></i>
                            </span>
                            <div class="fg-line">
                                <input asp-for="Password" type="password" class="form-control input-sm" id="Password">
                                <label asp-for="Password" class="fg-label">Password</label>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-key"></i>
                            </span>
                            <div class="fg-line">
                                <input asp-for="ConfirmPassword" type="password" class="form-control input-sm" id="ConfirmPassword">
                                <label asp-for="ConfirmPassword" class="fg-label">Confirm Password</label>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account-circle"></i>
                            </span>
                            <div class="fg-line">
                                <label asp-for="Role">Select Role: </label>
                                <select asp-for="Role" asp-items="@Model.RoleList"></select>
                            </div>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>

                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-dot-circle"></i>
                            </span>
                            <div class="fg-line">
                                <label asp-for="Year">Year: </label>
                                <select asp-for="Year">
                                    <option value="1">First Year</option>
                                    <option value="2">Second Year</option>
                                    <option value="3">Third Year</option>
                                </select>
                            </div>
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>

                        <div class="form-group input-group fg-float">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-accounts"></i>
                            </span>
                            <div class="fg-line">
                                <label asp-for="Group">Group: </label>
                                <input asp-for="Group" type="text" value="X0" />
                            </div>
                            <span asp-validation-for="Group" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block m-t-10 waves-effect">
                            Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
