<!DOCTYPE html>
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - CourseManager.Web</title>

    <environment names="Development">
        <!-- Vendor CSS -->
        <link href="~/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="~/vendors/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link href="~/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="~/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

        <!-- CSS -->
        <link href="~/css/app_1.min.css" rel="stylesheet">
        <link href="~/css/app_2.min.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>

<body class="bgm-white">
    <header id="header-custom" class="clearfix">
        <a href="">
            <div id="brand">
                <img src="~/img/logo.png" id="logo" />
                <div>
                    <span id="info">Info</span>
                    <span id="bucket">Bucket</span>
                </div>
            </div>
        </a>
        <div id="sign-up" class="pull-right">
            <a href="">Sign Up</a>
        </div>
    </header>

    <section id="main">
        <div class="container">
            <div id="login-page" class="content">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <h1>
                            GitLab Community Edition
                        </h1>
                        <h3>
                            Open source software to collaborate on code
                        </h3>
                        <p style="font-size:18px;">
                            Manage Git repositories with fine-grained access controls that keep your code secure. Perform code reviews and enhance collaboration with merge requests. Each project can also have an issue tracker and a wiki.
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" id="sign-in-card">
                            <div class="card-header">
                                <h2 class="text-center f-500">Register</h2>
                            </div>

                            <div class="card-body card-padding">
                                <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" class="p-t-25">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group input-group fg-float">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-account"></i>
                                        </span>
                                        <div class="fg-line">
                                            <input asp-for="FirstName" type="text" class="form-control input-sm" id="FirstName">
                                            <label asp-for="FirstName" class="fg-label">First Name</label>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group input-group fg-float">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-account"></i>
                                        </span>
                                        <div class="fg-line">
                                            <input asp-for="LastName" type="text" class="form-control input-sm" id="LastName">
                                            <label asp-for="LastName" class="fg-label">Last Name</label>
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group input-group fg-float">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-email"></i>
                                        </span>
                                        <div class="fg-line">
                                            <input asp-for="Email" type="email" class="form-control input-sm" id="Email">
                                            <label asp-for="Email" class="fg-label">Email</label>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group input-group fg-float">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-key"></i>
                                        </span>
                                        <div class="fg-line">
                                            <input asp-for="Password" type="password" class="form-control input-sm" id="Password">
                                            <label asp-for="Password" class="fg-label">Password</label>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group input-group fg-float">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-key"></i>
                                        </span>
                                        <div class="fg-line">
                                            <input asp-for="ConfirmPassword" type="password" class="form-control input-sm" id="ConfirmPassword">
                                            <label asp-for="ConfirmPassword" class="fg-label">Confirm Password</label>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    

                                    <button type="submit" class="btn btn-primary btn-block m-t-10 waves-effect">
                                        Register
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <ul class="f-menu">
            <li><a href="" class="footer-link">Home</a></li>
            <li><a href="" class="footer-link">Help</a></li>
            <li><a href="" class="footer-link">Contact</a></li>
        </ul>
    </footer>

    <!-- Javascript Libraries -->
    <environment Names="Development">
        <script src="~/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="~/vendors/bower_components/tether/dist/js/tether.min.js"></script>
        <script src="~/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="~/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="~/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/vendors/bower_components/autosize/dist/autosize.min.js"></script>
        <script src="~/js/app.js"></script>
    </environment>
</body>

</html>
