<footer id="footer">
    <ul class="f-menu">
        <li><a href="" class="footer-link">Home</a></li>
        <li><a href="" class="footer-link">Help</a></li>
        <li><a href="" class="footer-link">Contact</a></li>
    </ul>
</footer>
