<header id="header-custom" class="clearfix">
    <a href="">
        <div id="brand">
            <img src="~/img/logo.png" id="logo" />
            <div>
                <span id="info">Info</span>
                <span id="bucket">Bucket</span>
            </div>
        </div>
    </a>
    @await Html.PartialAsync("_LoginPartial")
</header>
