<div class="pm-overview c-overflow">
    <div class="pmo-pic">
        <div class="p-relative">
            <a href="">
                <img class="img-responsive" src="~/img/profile-pics/profile-pic-2.jpg" alt="">
            </a>

            <a href="" class="pmop-edit">
                <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
            </a>
        </div>
    </div>

    <div class="pmo-block pmo-contact hidden-xs">
        <h2>Contact</h2>

        <ul>
            <li><i class="zmdi zmdi-phone"></i> 00971 12345678 9</li>
            <li><i class="zmdi zmdi-email"></i> malinda-h@gmail.com</li>
            <li><i class="zmdi zmdi-facebook-box"></i> malinda.hollaway</li>
            <li><i class="zmdi zmdi-twitter"></i> asda@malinda (twitter.com/malinda)</li>
            <li>
                <i class="zmdi zmdi-pin"></i>
                <address class="m-b-0 ng-binding">
                    44-46 Morningside Road,<br>
                    Edinburgh,<br>
                    Scotland
                </address>
            </li>
        </ul>
    </div>
</div>
