<div class="pm-body clearfix">
    <h2 class="p-l-25 p-t-20 inline-block">My Posts</h2>

    <div class="card-body card-padding">
        <ul>
            @foreach (var item in @ViewBag.Posts)
            {
                <li>
                    <a asp-area="" asp-controller="Post" asp-action="Show" asp-route-id="@item.Id">@item.Title</a>
                </li>
            }
        </ul>
    </div>
</div>
