@inject UserManager<ApplicationUser> UserManager

<h3>Subscribed courses for Hello @UserManager.GetUserName(User)!</h3>

<ul>
    @foreach (var rel in @ViewBag.Rels)
    {
        <li>@rel.Course.Title</li>
    }
</ul>