@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Index";
}

<div class="pm-body clearfix">
    <ul class="tab-nav tn-justified">
        <li class="active">
            <a href="#">Home</a>
        </li>
    </ul>
        
    <h1 style="text-align: center; margin-top: 50px; color:#2196F3">Welcome to InfoBucket !</h1>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
